<!doctype html>
<html lang="pt-br" ng-app="app">

   <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Estoqueando</title>
        <meta name="description" content="Aplicação para compra de produtos de catálogos">
        <meta name="keywords" content="App, venda direta, comprar, Tupperware, Avon, Mary Kay, Hinode">
        <meta name="robots" content="index, follow">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans" >
        <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
		<link rel="shortcut icon" href="app/source/img/favicon.ico">  
        <link rel="stylesheet" href="app/web/css/main.css" />

   </head>

   <body>
    <header>	

		<div class="row">
			<div class="grid-3">
				<a href="index.html"><img class="logo" src="app/source/img/logo.png" alt="Logo Estoqueando"></a>
			</div>
			<div class="grid-9">
				<div class="grid-1"></div>
				<div class="grid-11">
						<nav class="menu">
								<a class="btn-close">x</a>
								<ul>
									<li><a ui-sref="app.public.register">Home</a></li>
									<li><a ui-sref="#">Utensílios</a></li>
									<li><a ui-sref="#">Cosméticos</a></li>
									<li><a ui-sref="#">Perfumaria</a></li>
									<li><a ui-sref="#">Maquiagem</a></li>
									<li><a ui-sref="#">Moda</a></li>				
								</ul>				
						</nav>
						<a class="menu-login link" ng-if="$root.user == null " ui-sref="app.public.login"> <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i> Entrar</a>	
						<a class="menu-login link" ng-if="$root.user != null" href="" ng-click="logout()"> Logout</a>	
				</div>			
			</div>
		</div>	
    </header>
	<div ui-view></div>	 
	<footer>
		<div class="container">
			<div class="grid-4"></div>
			<div class="grid-4">
				<div class="social-icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-google"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-envelope"></i></a>	
				</div>
				<div class="copyright">
					<h4>Estoqueando © 2018 Todos os direitos reservados<br>
						<a href="#">Termos de uso</a>    <a href="#">Política de privacidade</a>    <a href="#">Ajuda</a>
					</h4>
				</div> 	
				
			</div>
			<div class="grid-4"></div>
		</div>		
	</footer>
	   
	<!-- CDN'S -->
	<script src="//code.angularjs.org/1.5.6/angular.js"></script>	 
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.20/angular-ui-router.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.20/stateEvents.min.js"></script>	
	<script src="//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>

	<!-- ARQUIVOS DO SISTEMA -->
	<script src="app/app.min.js"></script>
     
   </body>
</html>