.chatPage {
    padding: 10px;
    background-color: #ccc !important;

    h1 {
        border-bottom: 1px solid $purple;
    }

    .name {
        font-size: 25px;
        font-weight: 300;
        color: $blackBlue;
    }

    #chat {
        .menuChat {
            color: $blackBlue;
        }

        .last {
            font-size: 12px;
            font-weight: 400;
            color: $blackBlue;
            top: 10px;
        }

        .chat {
            list-style: none;
            background: none;
            margin: 0;
            padding: 0 0 50px 0;
            margin-top: 60px;
            margin-bottom: 10px;

            li {
                padding: 0.5rem;
                overflow: hidden;
                display: flex;
            }


        }

        .other {
            .msg {
                order: 1;
                border-top-left-radius: 0px;
                box-shadow: -1px 2px 0px #D4D4D4;
            }

            &::before {
                content: "";
                position: relative;
                top: 0px;
                right: 0px;
                left: 40px;
                width: 0px;
                height: 0px;
                border: 5px solid #fff;
                border-left-color: transparent;
                border-bottom-color: transparent;
            }
        }

        .self {
            justify-content: flex-end;
            align-items: flex-end;

            .msg {
                order: 1;
                border-bottom-right-radius: 0px;
                box-shadow: 1px 2px 0px #D4D4D4;
            }

            span {
                font-size: 0.7rem;
                color: #969898;
            }

        }

        .msg {
            background: white;
            min-width: 50px;
            padding: 10px;
            border-radius: 2px;
            box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);

            p {
                font-size: 0.8rem;
                margin: 0 0 0.2rem 0;
                color: #777;
            }

            time {
                font-size: 0.7rem;
                color: #ccc;
                margin-top: 3px;
                float: right;
                cursor: default;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;

                &::before {
                    content: "\f017";
                    color: #ddd;
                    font-family: FontAwesome;
                    display: inline-block;
                    margin-right: 4px;
                }
            }
        }


        .info {
            color: #FFF;
            background: #A2A4A4;
            position: absolute;
            width: 100%;
        }

        input.textarea {
            bottom: 0px;
            left: 0px;
            right: 0px;
            width: 100%;
            height: 100px;
            background: $white;
            border: none;
            outline: none;
            padding: 10px;
            color: #666;
            font-weight: 400;
        }
    }




}