.btn{
    border-radius: 5px;
    font-size: 1.2em;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 0.01em;
    text-align: center;
    box-shadow: none;
    text-transform: uppercase;


    &.btn{     
        &-primary{
            color: $white;
            background-color: $blue;
            //colocar sombra p dentro e efeito hover
        }
        &-secondary{
            border: 1px solid #429FE6;        
            color: #429FE6;    
            background-color: transparent;         
        }
        &-block{
            display: block;
            width: 100%;
        }&-login{
            position: absolute;
            right: 30px;
            font-size: 1.6em;

            :active{
                color:$yellow;
            }
          }
        
        
    }
    
    //criar btn link

    
      
}


