$purple: #aa2ff1;
$darkPurple: #8562fa;
$titlePurple: #7437bc;
$pink: #C24579;
$darkPink: #d2387c;
$yellow: #FFEB3B;
$blue: #5588FD;
$lightBlue: rgb(131, 169, 177);
$darkBlue: #429FE6;
$blackBlue: #30314A;
$white: #ffffff;
$whitet: #f2f2f2;
$grey: #cccccc;
$darkGrey: #5b5855;
$darkRed: #B5292A;
$lightGrey: #ddd;



.ctpurple {
    color: $titlePurple;
}