$purple: #aa2ff1;
$darkPurple: #8562fa;
$titlePurple: #7437bc;
$blue: #00BCD4;
$pink: #C24579;
$darkPink: #d2387c;
$yellow: #FFEB3B;
$darkBlue: #30314A;
$white: #ffffff;
$whitet: #f2f2f2;
$grey: #cccccc;
$darkGrey: #5b5855;

