$grid-gutter: 16px;
$grid-columns: 12;
$grid-max: 1004px;
 
// breakpoints
$breakpoint-small: "screen and (max-width: 450px)";

[class*="grid-"]{
  float: left;
  padding: 0 $grid-gutter;
  margin-bottom: 20px;
  box-sizing: border-box;
}

@for $i from 1 through $grid-columns{
  .grid-#{$i}{
 
    width: 100% / $grid-columns * $i;
    @media #{$breakpoint-small} {
      width: 100%;
    }
  }
}

.container{
    width: 100%;
    margin: 0 auto;
  }
  
  .row{
    box-sizing: border-box;
  }
  
  .row:before, .row:after {
    content: " ";
    display: table;
  }
  
  .row:after {
    clear: both;
  }