.icon {
    .name {
        width: 32px;
        position: absolute;
        text-align: center;
        top: 18px;
        left: -8px;
    }

    &-minus {
        background-color: $blackBlue;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;

        &::after {
            background-color: $white;
            width: 15px;
            height: 3px;
            border-radius: 1px;
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            position: absolute;
            top: 23px;
            left: 16.5px;
            z-index: 4;
            content: "";
        }

        &.dark-pink {
            background-color: $darkPink;
        }
    }

    &-plus {
        background-color: $blackBlue;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;

        &::after {
            background-color: $white;
            width: 20px;
            height: 3px;
            border-radius: 1px;
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            position: absolute;
            top: 23px;
            left: 14px;
            content: "";
        }

        &::before {
            background-color: $white;
            width: 3px;
            height: 20px;
            border-radius: 1px;
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            position: absolute;
            top: 15px;
            left: 23px;
            content: "";
        }
    }

    &-circle {
        width: 50px;
        height: 50px;
        position: absolute;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;

        &.black-blue {
            background: $blackBlue;
        }

        &.dark-grey {
            background: $darkGrey;
        }
    }
}