.ctpurple {
  color: #7437bc; }

form {
  font-size: 1em;
  border-radius: 10px;
  margin: auto;
  height: auto;
  background-position: center center;
  display: block;
  /* css do campo pesquisa*/ }
  form .dinline {
    display: inline; }
  form .halfForm {
    width: 50%; }
  form label {
    margin-top: 5px;
    color: #5588FD;
    display: block;
    font-weight: bold;
    text-align: left; }
  form input,
  form textarea {
    position: relative;
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #5588FD;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    color: #429FE6;
    padding: 3%;
    font-weight: 500; }
    form input ::-webkit-input-placeholder,
    form textarea ::-webkit-input-placeholder {
      color: rgba(200, 189, 230, 0.3); }
    form input.ng-touched.ng-invalid,
    form textarea.ng-touched.ng-invalid {
      border-color: #B5292A; }
  form .btn-search {
    position: absolute;
    line-height: 30px;
    vertical-align: middle;
    margin-right: 10px;
    color: #ffffff; }
    form .btn-search a {
      background: none;
      color: rgba(150, 104, 204, 0.6); }
      form .btn-search aa:hover {
        color: #aa2ff1;
        border: none; }

.btn {
  border-radius: 5px;
  font-size: 1.2em;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-align: center;
  box-shadow: none;
  text-transform: uppercase;
  cursor: pointer; }
  .btn.btn-primary {
    color: #ffffff;
    background-color: #5588FD; }
    .btn.btn-primary.black-blue {
      background-color: #30314A; }
  .btn.btn-secondary {
    border: 1px solid #429FE6;
    color: #429FE6;
    background-color: transparent; }
  .btn.btn-block {
    display: block;
    width: 100%; }
  .btn.btn-login {
    position: absolute;
    right: 30px;
    font-size: 1.6em; }
    .btn.btn-login :active {
      color: #FFEB3B; }

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

b {
  font-weight: 600; }

body {
  background-color: #f2f2f2; }
  body .content {
    position: absolute;
    top: 192px;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    background-color: #f2f2f2;
    left: 300px; }
    @media screen and (max-width: 450px) {
      body .content {
        left: 0px; } }
    body .content.public {
      left: 0px; }
    body .content section .light {
      background-color: #f2f2f2;
      padding: 20% 0; }
    body .content section .productCard {
      background-color: #ffffff;
      border-radius: 2px;
      margin: 10px; }
      body .content section .productCard .imageProduct {
        box-sizing: border-box;
        width: 100%;
        float: left;
        min-height: 150px; }
        body .content section .productCard .imageProduct a {
          display: block; }
          body .content section .productCard .imageProduct a img {
            max-width: 100%; }
      body .content section .productCard .dataProduct {
        box-sizing: border-box;
        text-align: center; }
        body .content section .productCard .dataProduct p {
          padding: 5px; }
          body .content section .productCard .dataProduct p.blue {
            color: #30314A;
            font-weight: 400; }
          body .content section .productCard .dataProduct p.pink {
            color: #d2387c;
            font-weight: bold;
            font-size: 20px; }

a {
  text-decoration: none;
  color: #aa2ff1; }

.divider {
  border-bottom: solid 1px #30314A; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

h1 {
  color: #7437bc;
  font-size: 2em;
  text-align: center; }

h2 {
  color: #7437bc;
  font-size: 1.5em;
  text-align: center; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.8em; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

small {
  color: #B5292A;
  font-weight: 400; }

.bold {
  font-weight: bold; }

.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.no-margin-bottom {
  margin-bottom: 0px !important; }

.no-margin-top {
  margin-top: 0px !important; }

.no-margin-left {
  margin-left: 0px !important; }

.no-margin-right {
  margin-right: 0px !important; }

.no-padding-bottom {
  padding-bottom: 0px !important; }

.no-padding-top {
  padding-top: 0px !important; }

.no-padding-left {
  padding-left: 0px !important; }

.no-padding-right {
  padding-right: 0px !important; }

.pos-r {
  right: 0; }

.content {
  margin: 0 auto; }

[class*="grid-"] {
  position: relative;
  float: left;
  padding: 0 16px;
  margin-bottom: 20px;
  box-sizing: border-box; }

.grid-1 {
  width: 8.33333%; }
  @media screen and (max-width: 450px) {
    .grid-1 {
      width: 100%; } }

.grid-2 {
  width: 16.66667%; }
  @media screen and (max-width: 450px) {
    .grid-2 {
      width: 100%; } }

.grid-3 {
  width: 25%; }
  @media screen and (max-width: 450px) {
    .grid-3 {
      width: 100%; } }

.grid-4 {
  width: 33.33333%; }
  @media screen and (max-width: 450px) {
    .grid-4 {
      width: 100%; } }

.grid-5 {
  width: 41.66667%; }
  @media screen and (max-width: 450px) {
    .grid-5 {
      width: 100%; } }

.grid-6 {
  width: 50%; }
  @media screen and (max-width: 450px) {
    .grid-6 {
      width: 100%; } }

.grid-7 {
  width: 58.33333%; }
  @media screen and (max-width: 450px) {
    .grid-7 {
      width: 100%; } }

.grid-8 {
  width: 66.66667%; }
  @media screen and (max-width: 450px) {
    .grid-8 {
      width: 100%; } }

.grid-9 {
  width: 75%; }
  @media screen and (max-width: 450px) {
    .grid-9 {
      width: 100%; } }

.grid-10 {
  width: 83.33333%; }
  @media screen and (max-width: 450px) {
    .grid-10 {
      width: 100%; } }

.grid-11 {
  width: 91.66667%; }
  @media screen and (max-width: 450px) {
    .grid-11 {
      width: 100%; } }

.grid-12 {
  width: 100%; }
  @media screen and (max-width: 450px) {
    .grid-12 {
      width: 100%; } }

.container {
  width: 100%;
  margin: 0 auto; }

.row {
  box-sizing: border-box; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

@media only screen and (max-width: 600px) {
  menu-lateral {
    display: none; }
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative; }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none; }
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block; }
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0; }
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black; }
  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white; } }

.topnav {
  display: none; }

.menul {
  position: absolute;
  z-index: 10;
  left: 40px; }

.menu__title {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 3.4em;
  margin-bottom: 30px; }

.menu__item {
  padding: 0 20px;
  position: relative;
  border-bottom: 1px solid #ddd;
  display: block;
  outline: none;
  margin: 0 0 1.5em;
  line-height: 1.4em;
  padding-bottom: 20px; }

.menu__item-name {
  position: relative;
  display: inline-block;
  font-size: 1em; }

.menuLateral {
  font-size: 1.1em; }
  .menuLateral a {
    color: #30314A; }
  .menuLateral .menu__item {
    margin: 0 0 1em; }
  .menuLateral .menu__item-name {
    padding: 0 0.35em;
    font-weight: bold;
    transition: color 0.5s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    margin-top: 0; }
    .menuLateral .menu__item-name::before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 50%;
      left: 0;
      bottom: 0;
      opacity: 0.3;
      transform: scale3d(0, 1, 1);
      transform-origin: 0% 50%;
      transition: transform 0.5s;
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .menuLateral .menu__item .menu__item-name::before {
    background: #83a9b1; }
  .menuLateral .menu__item:hover, .menuLateral .menu__item:focus {
    color: #5588FD; }
  .menuLateral .menu__item:hover .menu__item-name::before,
  .menuLateral .menu__item:focus .menu__item-name::before {
    transform: scale3d(1, 1, 1); }

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8; }

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: fixed;
  width: 50%;
  /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000; }
  .ng-modal-dialog-content {
    padding: 10px;
    text-align: left; }

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  color: #30314A;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif'; }

.icon .name {
  width: 32px;
  position: absolute;
  text-align: center;
  top: 18px;
  left: -8px; }

.icon-minus {
  background-color: #30314A;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0; }
  .icon-minus::after {
    background-color: #ffffff;
    width: 15px;
    height: 3px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top: 23px;
    left: 16.5px;
    z-index: 4;
    content: ""; }
  .icon-minus.dark-pink {
    background-color: #d2387c; }

.icon-plus {
  background-color: #30314A;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0; }
  .icon-plus::after {
    background-color: #ffffff;
    width: 20px;
    height: 3px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top: 23px;
    left: 14px;
    content: ""; }
  .icon-plus::before {
    background-color: #ffffff;
    width: 3px;
    height: 20px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top: 15px;
    left: 23px;
    content: ""; }

.icon-circle {
  width: 50px;
  height: 50px;
  position: absolute;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }
  .icon-circle.black-blue {
    background: #30314A; }
  .icon-circle.dark-grey {
    background: #5b5855; }

header {
  height: 125px;
  width: 100%;
  background-color: #30314A; }
  header .logo {
    width: 228px;
    height: 167px; }

footer {
  width: 100%;
  float: left;
  padding: 3% 4%;
  text-align: center;
  background: linear-gradient(180deg, #aa2ff1, #5588FD); }
  footer .social-icons {
    font-size: 1.2em; }
    footer .social-icons a {
      color: rgba(255, 255, 255, 0.7);
      margin-right: 3%; }
      footer .social-icons a:last-child {
        margin-right: 0; }
      footer .social-icons a:hover {
        color: #FFEB3B; }
  footer .copyright {
    margin-top: 2%;
    line-height: 2em;
    color: rgba(255, 255, 255, 0.7); }
    footer .copyright a {
      color: rgba(255, 255, 255, 0.7);
      margin-right: 3%; }
      footer .copyright a:hover {
        color: #FFEB3B; }
  footer h4 {
    font-size: 1em; }
    footer h4 a {
      margin-top: 3%;
      color: #ffffff; }

/*banner*/
.mobile-menu {
  display: none; }

.banner {
  width: 100%;
  height: 500px;
  float: left;
  text-align: center;
  padding: 3% 4%;
  background: url(../img/bg.png) center center no-repeat fixed; }

.btn-menu,
.btn-close {
  display: none; }

.menu {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 50px; }
  .menu li {
    padding: 0;
    float: left; }
    .menu li a {
      color: #ffffff;
      font-size: 1em;
      padding: 15px; }
      .menu li a:hover {
        color: #83a9b1;
        border-bottom: 2px solid #aa2ff1;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }

.menu-login {
  font-size: 1.4em;
  color: #ffffff;
  margin-left: 50px; }
  @media screen and (max-width: 768px) {
    .menu-login {
      display: none; } }
  .menu-login a:active {
    color: #d2387c; }

@media screen and (max-width: 800px) {
  .logo {
    width: 50%; }
  .mobile-menu {
    position: absolute;
    display: block;
    right: 20px;
    top: 20px;
    color: #ffffff;
    padding: 20px; }
  .m-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.2em; }
  .btn-menu,
  .btn-close {
    display: block; } }

.banner {
  width: 100%;
  height: 500px;
  float: left;
  text-align: center;
  padding: 3% 4%;
  background: url(../img/bg.png) center center no-repeat fixed; }
  .banner .title h2 {
    font-size: 2.5em;
    color: #fff;
    font-weight: 700; }
  .banner .title h3 {
    font-size: 1.9em;
    color: #aa2ff1;
    border-bottom: #429FE6; }

.welcomePage {
  background-color: #ffffff; }
  .welcomePage section {
    margin-top: 40px;
    margin-bottom: 40px; }

.loginPage {
  background-color: #f2f2f2; }

.stockPage fieldset {
  padding: 10px;
  background-color: white;
  margin-top: 20px; }

.stockPage .productCard {
  min-height: 330px;
  margin-left: 0px !important;
  margin-right: 0px !important; }
  .stockPage .productCard input {
    height: 30px;
    font-size: 1.1em;
    padding: 3px;
    border-color: #30314A;
    color: #30314A; }

.chatPage {
  padding: 10px;
  background-color: #ccc !important; }
  .chatPage h1 {
    border-bottom: 1px solid #aa2ff1; }
  .chatPage .name {
    font-size: 25px;
    font-weight: 300;
    color: #30314A; }
  .chatPage #chat .menuChat {
    color: #30314A; }
  .chatPage #chat .last {
    font-size: 12px;
    font-weight: 400;
    color: #30314A;
    top: 10px; }
  .chatPage #chat .chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px; }
    .chatPage #chat .chat li {
      padding: 0.5rem;
      overflow: hidden;
      display: flex; }
  .chatPage #chat .other .msg {
    order: 1;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4; }
  .chatPage #chat .other::before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 40px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  .chatPage #chat .self {
    justify-content: flex-end;
    align-items: flex-end; }
    .chatPage #chat .self .msg {
      order: 1;
      border-bottom-right-radius: 0px;
      box-shadow: 1px 2px 0px #D4D4D4; }
    .chatPage #chat .self span {
      font-size: 0.7rem;
      color: #969898; }
  .chatPage #chat .msg {
    background: white;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07); }
    .chatPage #chat .msg p {
      font-size: 0.8rem;
      margin: 0 0 0.2rem 0;
      color: #777; }
    .chatPage #chat .msg time {
      font-size: 0.7rem;
      color: #ccc;
      margin-top: 3px;
      float: right;
      cursor: default;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; }
      .chatPage #chat .msg time::before {
        content: "\f017";
        color: #ddd;
        font-family: FontAwesome;
        display: inline-block;
        margin-right: 4px; }
  .chatPage #chat .info {
    color: #FFF;
    background: #A2A4A4;
    position: absolute;
    width: 100%; }
  .chatPage #chat input.textarea {
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100px;
    background: #ffffff;
    border: none;
    outline: none;
    padding: 10px;
    color: #666;
    font-weight: 400; }
