footer {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
    background: linear-gradient(180deg, $purple, $blue);

  

 .social-icons{
    font-size: 1.2em;
    a {    
      color: rgba(255, 255, 255, 0.7);
      margin-right: 3%;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $yellow;       
      }
    }
  }
  
  .copyright {
    margin-top: 2%;
    line-height: 2em;
    color: rgba(255, 255, 255, 0.7);    
    a {
      color: rgba(255, 255, 255, 0.7);
      margin-right: 3%;
      &:hover {
        color: $yellow;
        
      }
    }
}
  
h4 {
  font-size: 1em;
    a {
      margin-top: 3%;
      color: $white;
     
    }
   
  }

}
 


  