header{
    width: 100%;
	float: left;
	padding: 0;
	background: linear-gradient(180deg, $purple, $darkPurple); 	
    text-align: center;

    .logo{
        width:228px; 
        height:167px; 
        float: left;
        margin-left:5%;
        font-size: 0; 
        margin-bottom: 0;
        padding: 0;
        
    }

    @media screen and (max-width: 640px) {
        .logo{
          width:100px; 
          height: 100px;          
          background: url(../img/logo-mobile.png) center center no-repeat;         
      }
  }


  
#divBusca {
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 150px;
    float: right;
    background-color:$white;
    border: solid 3px $purple;
    border-radius: 10px;
    width: 350px;
    ::-webkit-input-placeholder {
      color: rgba(200, 189, 230, 0.3);
    }
  }
  
  #txtBusca {
    float: left;
    background-color:$white;
    padding-left: 5px;
    font-weight: 300;
    font-size: 18px;
    height: 35px;
    width: 260px;
    border-radius: 10px;
  }
  
  .btn-search {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 5px;   
    background-color: $white;
    border: none;
  
    a{
      color: rgba(150, 104, 204, 0.6);    
        &a:hover {
        color:$purple;
        background-color: $white;
        border: none;
        }
    }
    }
    
}
