<div class="content public registerPage">
    <section>
        <div class="grid-4"></div>
        <div class="grid-4">
            <form ng-if="!loading && !success" name="registerForm" novalidate>
                <h1 class="mt-30 mb-30"><b>Realize</b> seu cadastro</h1>
                <label for="name">Nome completo:</label>
                <input type="text" id="name" placeholder="" required="required" name="name" ng-model="personData.name"
                    ui-validate="{hasSurname:'hasSurname($value)'}" />
                <small ng-if="registerForm.name.$dirty && registerForm.name.$error.hasSurname">Insira o sobrenome</small><br>
                <small ng-if="registerForm.name.$error.required && registerForm.name.$touched">Nome obrigatório</small>

                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" ng-model="personData.cpf" ui-mask="999.999.999-99" required
                    ui-validate="{validateCpf:'cpfValidate($value)'}" />
                <small ng-if="registerForm.cpf.$error.validateCpf && registerForm.cpf.$touched">Cpf inválido</small><br>

                <small ng-if="registerForm.cpf.$error.required && registerForm.cpf.$touched">Cpf obrigatório</small>

                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="" required="required" name="email" ng-model="personData.email" />
                <small ng-if="registerForm.email.$error.email && registerForm.email.$touched">Email inválido</small><br>
                <small ng-if="registerForm.email.$error.required && registerForm.email.$touched">E-mail obrigatório</small>


                <label for="password">Senha:</label>
                <input type="password" id="password" placeholder="" required="required" name="password" ng-minlength="5"
                    ng-maxlength="15" ng-model="personData.password" />

                <small ng-if="registerForm.password.$error.required && registerForm.password.$touched">Senha
                    obrigatória</small>
                <small ng-if="registerForm.password.$error.minlength">Insira no mínimo 6 caracteres</small>
                <small ng-if="registerForm.password.$error.maxlength">Insira no máximo 15 caracteres</small>



                <label for="confirmPassword">Confirmar senha: </label>
                <input type="password" id="confirmPassword" placeholder="" required="required" name="confirmPassword"
                    ui-validate-async="{isEqual: '$value == personData.password'}" ng-minlength="5" ng-maxlength="15"
                    ng-model="confirmPassword" />
                <small ng-if="registerForm.confirmPassword.$error.required && registerForm.confirmPassword.$touched">Senha
                    obrigatória</small>
                <small ng-if="registerForm.confirmPassword.$error.isEqual && registerForm.confirmPassword.$touched">Senhas
                    não conferem</small>
                <small ng-if="registerForm.confirmPassword.$error.minlength">Insira no mínimo 6 caracteres</small>
                <small ng-if="registerForm.confirmPassword.$error.maxlength">Insira no máximo 15 caracteres</small>



                <button class="btn btn-block mt-10 mb-10" ng-class="{'btn-primary': registerForm.$valid, 'btn-secondary': registerForm.$invalid}"
                    ng-disabled="registerForm.$invalid" ng-click="addConsultant()">Salvar</button>

            </form>
            <div ng-if="loading" style="text-align: center">
                <img src="app/web/img/loading.gif" alt="Carregando">
            </div>
            <div ng-if="!loading && success">
                <h1><b>Cadastro realizado com sucesso!</h1>
            </div>
        </div>
        <div class="grid-4"></div>

    </section>
</div>