
<section>
    <form  action="" method="submit">
            <h1><b>Realize</b> seu cadastro</h1>
     
            <label for="name">Nome:</label><br>
            <input type="text" id="name" placeholder="" required="required" name="name" />					
            
            <label for="cpf">CPF:</label><br>
            <input type="text" id="cpf" placeholder="" required="required" name="cpf" />            
                
            <label for="email">Email:</label><br>
            <input type="email" id="email" placeholder="" required="required" name="email" />
            
            
            <label for="password">Senha:</label><br>
            <input type="password" id="password" placeholder="" required="required" name="password" />
            
            <label for="confirmPassword">Confirmar senha:</label><br>
            <input type="password" id="confirmPassword" placeholder="" required="required" name="confirmPassword" />          
            
            <input type="submit" onclick="Enviar();" value="SALVAR" />
            
        </form>
        
        <br><br>

<!--			
<form  action="" method="submit">
                <h1><b>Faça</b> seu Login</h1>		 
                     
                    
                <label for="email">Email:</label><br>
                <input type="email" id="emailid" placeholder="" required="required" name="email" />
                
                
                <label for="senha">Senha:</label><br>
                <input type="password" id="senhaid" placeholder="" required="required" name="senha" />         
                
                <input type="submit" onclick="Enviar();" value="ENTRAR" />
                
            </form>
        -->
</section>

